<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/logo.png" type="image/x-icon" />
    <title>ImgHub - 一站式图片上传</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
  </head>
  <body
    id="app"
    class="min-h-screen bg-gradient-to-br from-rose-50 to-teal-50 bg-no-repeat bg-cover text-zinc-900"
  >
    <section
      class="flex flex-col gap-2 justify-center items-center px-4 py-16 text-5xl font-light text-center"
    >
      <div>一站式<span class="text-rose-500">图片</span>上传</div>
      <div class="text-sm text-zinc-500">
        一键上传图片到腾讯云COS，仅限内部使用，请勿上传无关的内容
      </div>
    </section>
    <div v-if="isLoading">
      <div class="flex justify-center items-center h-[90vh]">
        <div
          class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-500"
        ></div>
      </div>
    </div>

    <div v-else :class="'', {'hidden': isLoading  }">
      <main class="container mx-auto p-4">
        <section class="mb-8 flex flex-wrap items-center gap-2">
          <input
            type="file"
            @change="handleFileChange"
            class="mb-2"
            accept="image/*"
          />
          <input
            v-model="customFileName"
            placeholder="自定义文件名（可选）"
            class="border p-2 mr-2"
          />
          <label class="flex items-center">
            <input type="checkbox" v-model="removeTimestamp" class="mr-2" />
            去掉时间戳
          </label>
          <button
            @click="uploadFile"
            :disabled="isLoading"
            class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300"
          >
            {{ isLoading ? '上传中...' : '上传' }}
          </button>
        </section>

        <section
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 gap-y-6"
          v-if="files.length > 0"
        >
          <div
            v-for="file in files"
            :key="file.key"
            class="flex flex-col gap-2"
          >
            <div
              class="cursor-pointer bg-zinc-200 rounded-3xl flex items-center justify-center overflow-hidden transition-all hover:scale-[101%] active:bg-zinc-300"
              @click="toggleFile(file)"
              style="aspect-ratio: 1/1"
            >
              <img
                v-if="file.showImage"
                :src="file.url"
                alt="File preview"
                class="w-full h-full object-contain"
              />
              <span v-else class="text-2xl font-light text-zinc-500">
                点击查看
              </span>
            </div>
            <div
              class="flex items-center justify-between gap-2 px-3 text-sm font-light"
            >
              <div
                class="line-clamp-1 cursor-pointer"
                @click="copyToClipboard(file.url)"
                :title="file.key.split('/').pop()"
              >
                {{ file.key.split('/').pop() }}
              </div>
              <div class="flex-none text-zinc-400">
                {{formatFileSize(file.size)}}
              </div>
            </div>
          </div>
        </section>

        <div v-if="isLoading" class="flex justify-center items-center mt-4">
          <div
            class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-500"
          ></div>
        </div>

        <section
          class="mt-4 flex justify-center items-center"
          v-if="totalPages > 1"
        >
          <button
            @click="changePage(currentPage - 1)"
            :disabled="currentPage === 1 || isLoading"
            class="px-4 py-2 bg-blue-500 text-white rounded disabled:bg-gray-300"
          >
            上一页
          </button>
          <span class="mx-4">{{ currentPage }} / {{ totalPages }}</span>
          <button
            @click="changePage(currentPage + 1)"
            :disabled="currentPage === totalPages || isLoading"
            class="px-4 py-2 bg-blue-500 text-white rounded disabled:bg-gray-300"
          >
            下一页
          </button>
        </section>
      </main>
      <section
        v-if="showTips"
        class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-gray-800 text-white text-xs px-4 py-2 rounded-lg shadow-lg transition-opacity duration-300"
        :class="{ 'opacity-0': tipsHiding }"
      >
        {{ tipsMessage }}
      </section>
    </div>

    <script type="module">
      import { createApp, ref, onMounted, computed } from "vue";

      const app = {
        setup() {
          const files = ref([]);
          const customFileName = ref("");
          const selectedFileForUpload = ref(null);
          const currentPage = ref(1);
          const totalPages = ref(1);
          const pageSize = ref(20);
          const isLoading = ref(true);
          const removeTimestamp = ref(false);

          const API_URL = "./api.php";

          /** 消息提示 Start **/
          const showTips = ref(false);
          const tipsMessage = ref("");
          const tipsHiding = ref(false);

          const showTipsMessage = (message, duration = 3000) => {
            tipsMessage.value = message;
            showTips.value = true;
            tipsHiding.value = false;

            setTimeout(() => {
              tipsHiding.value = true;
              setTimeout(() => {
                showTips.value = false;
              }, 300);
            }, duration);
          };
          /** 消息提示 End **/

          const formatFileSize = (bytes) => {
            if (bytes === 0) return "0 Bytes";
            const k = 1024;
            const sizes = ["Bytes", "KB", "MB", "GB", "TB"];
            const i = Math.floor(Math.log(bytes) / Math.log(k));
            return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + sizes[i];
          };

          const handleFileChange = (event) => {
            selectedFileForUpload.value = event.target.files[0];
            customFileName.value = selectedFileForUpload.value.name;
          };

          const uploadFile = async () => {
            if (!selectedFileForUpload.value) {
              showTipsMessage("请选择一个文件");
              return;
            }

            isLoading.value = true;
            const formData = new FormData();
            let fileName = selectedFileForUpload.value.name;

            if (customFileName.value) {
              const extension = getFileExtension(fileName);
              fileName = `${customFileName.value}${extension}`;
            }

            if (!removeTimestamp.value) {
              const timestamp = Date.now();
              const nameWithoutExtension = fileName
                .split(".")
                .slice(0, -1)
                .join(".");
              const extension = getFileExtension(fileName);
              fileName = `${nameWithoutExtension}_${timestamp}${extension}`;
            }

            formData.append("image", selectedFileForUpload.value, fileName);

            try {
              const response = await fetch(`${API_URL}?route=upload`, {
                method: "POST",
                body: formData,
              });

              if (response.ok) {
                const result = await response.json();
                showTipsMessage("文件上传成功");
                fetchFiles();
              } else {
                throw new Error("上传失败");
              }
            } catch (error) {
              console.error("错误：", error);
              showTipsMessage("上传失败：" + error.message);
            } finally {
              isLoading.value = false;
            }
          };

          const getFileExtension = (filename) => {
            return filename.slice(((filename.lastIndexOf(".") - 1) >>> 0) + 1);
          };

          const fetchFiles = async () => {
            isLoading.value = true;
            try {
              const response = await fetch(
                `${API_URL}?route=list&page=${currentPage.value}&pageSize=${pageSize.value}`
              );
              if (response.ok) {
                const result = await response.json();
                files.value = result.files.map((file) => ({
                  ...file,
                  showImage: false,
                }));
                currentPage.value = result.pagination.currentPage;
                totalPages.value = result.pagination.totalPages;
              } else {
                throw new Error("获取文件列表失败");
              }
            } catch (error) {
              console.error("错误：", error);
              showTipsMessage("获取文件列表失败：" + error.message);
            } finally {
              isLoading.value = false;
            }
          };

          const changePage = (newPage) => {
            if (
              newPage >= 1 &&
              newPage <= totalPages.value &&
              !isLoading.value
            ) {
              currentPage.value = newPage;
              fetchFiles();
            }
          };

          const toggleFile = async (file) => {
            if (!file.url) {
              isLoading.value = true;
              try {
                const response = await fetch(
                  `${API_URL}?route=getFile&key=${encodeURIComponent(file.key)}`
                );
                if (response.ok) {
                  const result = await response.json();
                  file.url = result.url;
                } else {
                  throw new Error("获取文件详情失败");
                }
              } catch (error) {
                console.error("错误：", error);
                showTipsMessage("获取文件详情失败：" + error.message);
                return;
              } finally {
                isLoading.value = false;
              }
            }
            file.showImage = !file.showImage;
          };

          const copyToClipboard = (url) => {
            navigator.clipboard
              .writeText(url)
              .then(() => {
                showTipsMessage("URL 已复制到剪贴板");
              })
              .catch((err) => {
                console.error("复制失败：", err);
                showTipsMessage("复制失败，请手动复制");
              });
          };

          onMounted(() => {
            fetchFiles();
          });

          return {
            files,
            customFileName,
            handleFileChange,
            uploadFile,
            toggleFile,
            formatFileSize,
            currentPage,
            totalPages,
            changePage,
            isLoading,
            removeTimestamp,
            copyToClipboard,
            showTips,
            tipsMessage,
            tipsHiding,
          };
        },
      };

      document.addEventListener("DOMContentLoaded", () => {
        createApp(app).mount("#app");
      });
    </script>
  </body>
</html>
